HELP.md

# Build artifacts and directories
build/
out/
bin/

# Gradle related files
.gradle/
# Allow the Gradle Wrapper files to be committed
!/.gradle/
!/gradle/wrapper/gradle-wrapper.jar
!/gradlew
!/gradlew.bat

# IDE specific files
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Configuration files
application.yml